
.wrap {
    height: 300px;
    position: relative;
}

.wrap > div {
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    margin: 10px;
    position: static ;
}

.wrap > div:nth-child(2) {
    color: red;
    position: relative;
    top : 10px;
    left: 40px;
}

.wrap > div:nth-child(3) {
    color: blue;
    position: absolute;
    top : 40px;
    left: 40px;
}

.wrap > div:nth-child(4) {
    color: green;
    position: fixed;
}
